<div class="page-container">
  <div class="page-header">
    <h1>Mes Notes</h1>
    <p>Consultez vos résultats d'examens et évaluations.</p>
  </div>

  <div class="summary-card">
    <div class="summary-info">
      <h3>Moyenne Générale</h3>
      <p>Basée sur vos résultats actuels</p>
    </div>
    <div class="summary-score" [ngClass]="{'good': getAverage() >= '10', 'warning': getAverage() < '10'}">
      {{ getAverage() }} <span class="max-score">/ 20</span>
    </div>
  </div>

  <div class="grades-list">
    <div class="grade-item" *ngFor="let grade of grades">
      <div class="grade-info">
        <h3 class="course-name">{{ grade.course }}</h3>
        <p class="exam-type">{{ grade.type }} • <span class="exam-date">{{ grade.date }}</span></p>
      </div>
      <div class="grade-score-container">
        <div class="grade-score" [ngClass]="{'good': (grade.score/grade.maxScore) >= 0.5, 'warning': (grade.score/grade.maxScore) < 0.5}">
          {{ grade.score }} <span class="max-score">/ {{ grade.maxScore }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
